nav{
    width : 100%;
/*      background: #333;
 */     color: #fff;
    padding: 4px 0;
    position : fixed;
    top :0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
} 

/* ---- Toggle Button ---- */
.toggle-btn {
  width: 35px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 10px;
}

.toggle-btn span {
  height: 4px;
  width: 100%;
  background: #333;
  border-radius: 3px;
}
 .logo{
    width : 150px;
}
/* ------------ MEDIA QUERY (MOBILE BELOW 768PX) ------------ */
/* @media only screen and (max-width: 600px) {

  /* Show Toggle Button */
  /* .menu-btn {
    display: block;
  }
} */ /*  *//* 
@media(max-width:320px)
{
    .logo{
        width: 50px;
    }
}
@media(max-width:490px)
{
    .logo{
        width: 70px;
    }
}

.menu-btn{
    display: none;
} */
nav ul li{
    display: inline-block;
    list-style: none;
    margin:5px 20px;
    font-size: 16px;
    
/*     display: flex;
 */
}/* 
 @media (max-width: 320px) {

    nav {
        flex-direction: column;     /* stack items */
   /*      padding: 6px 10px;
        align-items: center;
    }

    nav ul {
        margin-top: 8px;
        padding: 0;
    }

    nav ul li {
        display: inline-block;            /* vertical list */
      /*   font-size: 8px;           /* smaller text */
        /* margin: 6px 2px;             /* smaller gap */
         /* padding : 10px;
     *//* }
} */ 

 .dark-nav{

    background: #212EA0;
}