.programs{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.program{
    flex-basis: 31%;
    position: relative;
}

.program img{
    width: 100%;
    border-radius: 10px;
    display: block;
}

/* Caption Overlay */
.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,15,152,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}

.caption img{
    width: 60px;
    margin-bottom: 10px;
}

/* Hover (desktop) */
.program:hover .caption{
    opacity: 1;
    padding-top: 0;
}

/* Mobile 320px */
@media (max-width: 320px) {

  /* reduce caption image */
  .caption img{
      width: 15px;
  }

  /* shrink image even more on hover */
  .program:hover .caption img{
      transform: scale(0.8);
  }

  /* adjust hover caption */
  .program:hover .caption{
      padding-top: 20%;
  }

  p{
    font-size:5px;
  }
}
@media(max-width: 490px){
/* reduce caption image */
  .caption img{
      width: 35px;
  }

  /* shrink image even more on hover */
  .program:hover .caption img{
      transform: scale(0.8);
  }

  /* adjust hover caption */
  .program:hover .caption{
      padding-top: 5%;
  }

  p{
    font-size:5px;
  }
}

@media(max-width: 620px){
/* reduce caption image */
  .caption img{
      width: 35px;
  }

  /* shrink image even more on hover */
  .program:hover .caption img{
      transform: scale(0.8);
  }

  /* adjust hover caption */
  .program:hover .caption{
      padding-top: 5%;
  }

  p{
    font-size:5px;
  }
}