
.hero{
    width : 100%;
    min-height: 100vh;
    background:  linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)), url(../../assets/hero.png);
    background-size: cover;
    background-position: center;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*@media(max-width:150px)
{
    .hero{
    min-height: 100vh;
  }
   .hero-text h1{
    padding: 5px 0;
    font-size:25px;
  }
   
}*/
/* @media(max-width:320px)
{
    .hero{

  min-height: 60vh;}
   
}

 */
.hero-text{
    text-align:center;
    max-width: 800px;
}

.hero-text h1{
   font-size:60px;
   font-weight: 600;
}

.hero-text p{
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
}

@media(max-width:1000px)
{
 .hero-text h1{
    
   font-size:40px;
}}
@media(max-width:840px)
{
 .hero-text h1{
   font-size:35px;
}}   
@media(max-width:650px)
{
 .hero-text h1{
   margin: auto;
   max-width: 400px; 
   font-size:30px;
}
.hero-text p{
 font-size:14px;
 margin: 15px auto 30px;

}   
}

/* 
@media(max-width:320px)
{
.hero-text p{
       font-size:10px;

}
}
@media(max-width:490px)
{
.hero-text p{
       font-size:15px;
}
}
 */